.navBar {
  color: var(--Amarillo);
  font-size: 1.5rem;
  padding: .5rem 0;
  margin: 0 auto;
  background-color: var(--Celeste);
  display: flex;
  justify-content: space-around;
}

span{
    color: var(--Rojo);
}

.textoLogo{
    color: var(--Amarillo);
    font-size: 3rem;
    font-weight: bold;
    line-height: 2rem;
}

.logo {
  height: 6rem;
  width: 6rem;
}

.listaNavBar {
  margin: 0;
}

#listaNavBar a:hover{
  color: var(--Rojo);
}


#listaNavBar a{
  color: var(--Amarillo);
  transition: all .5s ease;
  cursor: pointer;
}

@media (max-width: 768px) {  

  #listaNavBar{
    display: flex;
    flex-direction: column;
  }

}